//Jquery
script(src="js/jquery-3.3.1.min.js")

//Bootstrap 
script(src="js/bootstrap.bundle.min.js")
script(src="js/popper.min.js")

//HTML5 scripts 
script(src="js/html5shiv.min.js")
script(src="js/respond.min.js")


//my Js file
if(pageTitle == "Dynamic form")
    script(src="js/myJsFiles/dynamic_forms.js")
if(pageTitle == "Question bank")
    script(src="js/myJsFiles/question_bank.js")

// livreload
script(src="http://localhost:35729/livereload.js")