// sidebar color variables
$sidebar_background :#343a40 ;
$sidebar_shadow : #EEE;
$sidebar_color : #c2c7d0;
$img_container_border: #AAA;
$sidebar_anchor_color :#c2c7d0;
$sidebar_anchor_active_color :#3d84b8;


//question bank page variables
$table_background : #CCC;


//mixed usage 
$page_background_color : #f5f5f5;
$h2_color : #3d84b8;
$h2_box_shadow : #3d84b836;

$correct_answer : #2ecc71a6 ;