table.table
    thead
        tr
            th First
            th Second
            th Add
            th delete
    tbody
        tr
            td Mark3
            td Otto
        tr
            td Jacob4
            td Thornton
            td
                button.btn.btn-success#add(type='button') Add
            td
                button.btn.btn-danger#delete(type='button') Delete
